.fs-50{
    font-size: 50px;
}
.fs-15{
    font-size: 15px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.fs-23{
    font-size: 23px;
}
.fs-25{
    font-size: 25px;
}
.fw-300{
    font-weight: 300;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
.w-59{
    width: 59%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-88{
    width: 88%;
}
.w-94{
    width: 94%;
}
.pt-25{
    padding-top: 25%;
}
.flex-center{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.ptb-120{
    padding: 120px 0;
}
.pt-10r{
    padding-top: 10rem;
}
.mtb-20{
    margin: 20px 0;
}
.in-block{
    display: inline-block;
}
.bg-grey{
    background: #D2DBE8;
}
.active1 {
    border-bottom: 2px solid #fff;
    overflow:hidden;
    text-align: center;
    font-weight: 900;
    font-weight: 600;
}
ol, ul {
    padding-left: 0 !important;
}
.bg-sky-blue{
    background: #4EC6D8;
}
.bg-blue{
    background: #394F69;
}
.text-blue{
    color: #394F69 !important;
}
.h-50{
    height: 50px;
}
.btn-blue{
    color: #fff;                   ;
    background: #394F69;
    border-radius: 28px;
    opacity: 1;
    padding: 10px 25px;
    font-size: 20px;
}
.bg-img{
    background-image: url('../asset/bg-img.png');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.first-flag{
    background-image: url('../asset/first-flag.png');
    height: 206px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second-flag{
    background-image: url('../asset/second-flag.png');
    height: 171px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.childhood-bg{
    background-image: url('../asset/childhood.png');
    height: 1080px;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.opacity--2{
    opacity: 0.2;
}
.pos-right{
    position: absolute;
    right: 0;
    top: 135px;
    z-index: 10;
}
.pl-14{
    padding-left: 14rem;
}
.car-img-1{
    width: 118px !important;
    height: 118px !important;
}
.car-img-2{
    width: 108px !important;
    height: 71px !important;
}
.car-img-3{
    width: 97px !important;
    height: 117px !important;
}
.car-img-4{
    width: 108px !important;
    height: 96px !important;
}
.car-img-5{
    width: 134px !important;
    height: 68px !important;
}
.car-img-6{
    width: 136px !important;
    height: 29px !important;
}
.bor-boot{
    border-bottom: 1px solid #fff;
}